body{
    color: #4d4d4d !important;
    height: 100px;
}
.fa-leaf{
    background: linear-gradient(221.4deg, #6DA64E 0%, #4EAA94 73.1%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.btn-nav{
    width: 120px !important;
    height: 40px;
    font-size: 15px;
    background: linear-gradient(95.38deg, #6DA64E 6.65%, #4DB4B7 92.28%);
    font-weight: 300;
    border-radius: 13px 0;
}
.input-field input{
    position: relative !important;
    right: 20px !important;
    background-color: white !important;
    color: #4d4d4d !important;
    border: none !important;
    border-radius: 20px 0 !important;
    outline: none !important;
    height: 3rem !important;
    width: 80% !important;
    font-size: 16px !important;
    margin: 0 0 8px 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s !important;
}
.border-outside{
    border: 5px #004A4B solid; 
    border-radius: 25px 0;
    overflow: hidden;
}
.button-background{
    background: #89B8A9; 
    padding-bottom: 40px !important;
    position: relative; 
    top: 25px !important;
}
.lm-span{
    position: relative;
    top: 7px;
    color: #4d4d4d;
}
#email{
    position: relative;
    top: 20px;
} 
#email2 {
    padding-top: 20px;
}
@media screen and (max-width: 601px){
    .fas.fa-leaf{
        position: relative;
        top: 15px !important;
    }
}